<?xml version="1.0" encoding="UTF-8"?>
<Server port="{{ atl_tomcat_mgmt_port | default('8020') }}" shutdown="SHUTDOWN">

    <Service name="Catalina">

        <Connector acceptCount="{{ atl_tomcat_acceptcount | default('100') }}"
                   connectionTimeout="{{ atl_tomcat_connectiontimeout | default('20000') }}"
                   disableUploadTimeout="true"
                   enableLookups="{{ atl_tomcat_enablelookups | default('false') }}"
                   protocol="{{ atl_tomcat_protocol | default('HTTP/1.1') }}"
                   maxHttpHeaderSize="{{ atl_tomcat_maxhttpheadersize | default('8192') }}"
                   maxThreads="{{ atl_tomcat_maxthreads | default('150') }}"
                   minSpareThreads="{{ atl_tomcat_minsparethreads | default('25') }}"
                   port="{{ atl_tomcat_port | default('8095') }}"
                   secure="{{ atl_tomcat_secure | default(catalina_connector_secure) | default('false') }}"
                   scheme="{{ atl_tomcat_scheme | default(catalina_connector_scheme) | default('http') }}"
                   proxyName="{{ atl_proxy_name | default(catalina_connector_proxyname) | default('') }}"
                   proxyPort="{{ atl_proxy_port | default(catalina_connector_proxyport) | default('') }}"
                   redirectPort="{{ atl_tomcat_redirectport | default('8443') }}"
                   useBodyEncodingForURI="true"
                   URIEncoding="UTF-8"
                   compression="on"
                   sendReasonPhrase="true"
                   compressableMimeType="text/html,text/xml,application/xml,text/plain,text/css,application/json,application/javascript,application/x-javascript" />

        <Engine defaultHost="localhost" name="Catalina">
            <Host appBase="webapps" autoDeploy="true" name="localhost" unpackWARs="true">
               <Context path="{{ atl_tomcat_contextpath | default('/crowd') }}" docBase="../../crowd-webapp" debug="0">
                 <Manager pathname="" />
               </Context>
            </Host>
            {% if atl_tomcat_access_log == 'true' %}
            <Valve className="org.apache.catalina.valves.AccessLogValve"
                   requestAttributesEnabled="true"
                   directory="logs"
                   prefix="crowd_access"
                   suffix=".log"
                   rotatable="true"
                   pattern="%h %{X-AUSERNAME}o %t &quot;%r&quot; %s %b %D %U %I &quot;%{User-Agent}i&quot;" 
                   maxDays="{{ atl_tomcat_access_logs_maxdays | default('-1') }}"/>
            <Valve className="org.apache.catalina.valves.RemoteIpValve"
                   proxiesHeader="x-forwarded-by"
                   internalProxies="{{ atl_tomcat_proxy_internal_ips | default('') }}"
                   remoteIpHeader="x-forwarded-for"
                   protocolHeader="x-forwarded-proto"
                   requestAttributesEnabled="true"
                   resolveHosts="false" />
            {% endif %}

        </Engine>

        <!-- To connect to an external web server (typically Apache) -->
        <!-- Define an AJP 1.3 Connector on port 8009 -->
        <!--
            <Connector port="8009" enableLookups="false" redirectPort="8443" protocol="AJP/1.3" />
        -->
    </Service>

    <!-- Security listener. Documentation at /docs/config/listeners.html
    <Listener className="org.apache.catalina.security.SecurityListener" />
    -->
    <!--APR library loader. Documentation at /docs/apr.html -->
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
    <!-- Prevent memory leaks due to use of particular java/javax APIs-->
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

</Server>
